<div class="modal" id="<%=item.id%>"">
  <div class="modal-box relative">
    <label
      for="edit-<%=item.id%>"
      class="btn btn-sm btn-circle absolute right-2 top-2"
      >✕</label
    >
    <h3 class="text-lg font-bold mb-4 mt-6 text-left">Edit inventory item - ID: <%=item.id%></h3>
    <form class="max-w-lg">
      <div class="flex flex-col">
        <div class="mb-4">
          <label
            for="item-name-<%=item.id%>"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300 text-left"
            >Item name *</label
          >
          <input
            type="input"
            id="item-name-<%=item.id%>"
            class="w-48 bg-gray-50 border text-gray-900 text-sm rounded-lg focus:ring-sky-500 focus:border-sky-500 block w-full p-2.5 dark:placeholder-gray-400 dark:text-white dark:focus:ring-sky-500 dark:focus:border-sky-500"
            required
            value="<%= item.name %>"
          />
        </div>
        <div class="mb-4">
          <label
            for="description-<%=item.id%>"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300 text-left"
            >Description</label
          >
          <textarea
            id="description-<%=item.id%>"
            rows="2"
            class="bg-gray-50 border text-gray-900 text-sm rounded-lg focus:ring-sky-500 focus:border-sky-500 block w-full p-2.5 dark:placeholder-gray-400 dark:text-white dark:focus:ring-sky-500 dark:focus:border-sky-500"
          >
<%= item.description %></textarea
          >
        </div>
        <div class="mb-4">
          <label
            for="type-<%=item.id%>"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300 text-left"
            >Type *</label
          >
          <input
            type="input"
            id="type-<%=item.id%>"
            value="<%= item.type %>"
            class="w-48 bg-gray-50 border text-gray-900 text-sm rounded-lg focus:ring-sky-500 focus:border-sky-500 block w-full p-2.5 dark:placeholder-gray-400 dark:text-white dark:focus:ring-sky-500 dark:focus:border-sky-500"
            required
          />
        </div>
      </div>
      <div class="flex flex-col">
        <div class="flex flex-wrap justify-between items-end">
          <div class="mb-4 w-24">
            <label
              for="warehouses-<%=item.id%>"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400 text-left"
              >Select warehouse *</label
            >
            <select
              id="warehouses-<%=item.id%>"
              required
              class="bg-gray-50 border text-gray-900 text-sm rounded-lg focus:ring-sky-500 focus:border-sky-500 block w-full p-2.5 dark:placeholder-gray-400 dark:text-white dark:focus:ring-sky-500 dark:focus:border-sky-500"
            >
              <% warehouses.forEach( w =>{ %>
              <option <%= item.warehouse === w ? "selected" : "" %> ><%= w %></option>
              <% }) %>
            </select>
          </div>
          <div class="mb-4 w-24 mx-1">
            <label
              for="price-<%=item.id%>"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300 text-left"
              >Price</label
            >
            <input
              type="number"
              value="<%= item.money.price %>"
              id="price-<%=item.id%>"
              min="0"
              step="0.01"
              class="bg-gray-50 border text-gray-900 text-sm rounded-lg focus:ring-sky-500 focus:border-sky-500 block w-full p-2.5 dark:placeholder-gray-400 dark:text-white dark:focus:ring-sky-500 dark:focus:border-sky-500"
            />
          </div>
          <div class="mb-4 w-24 mx-1">
            <label
              for="currencies-<%=item.id%>"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400 text-left"
              >Select currency</label
            >
            <select
              id="currencies-<%=item.id%>"
              class="bg-gray-50 border text-gray-900 text-sm rounded-lg focus:ring-sky-500 focus:border-sky-500 block w-full p-2.5 dark:placeholder-gray-400 dark:text-white dark:focus:ring-sky-500 dark:focus:border-sky-500"
            >
              <% currencies.forEach( c => { %>
              <option <%= item.money.currency === c ? "selected" : "" %> ><%= c %></option>
              <% }) %>
            </select>
          </div>
          <div class="mb-4 w-24">
            <label
              for="amount-<%=item.id%>"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300 text-left"
              >Number of items *</label
            >
            <input
              type="number"
              value="<%= item.inStock %>"
              id="amount-<%=item.id%>"
              min="0"
              class="bg-gray-50 border text-gray-900 text-sm rounded-lg focus:ring-sky-500 focus:border-sky-500 block w-full p-2.5 dark:placeholder-gray-400 dark:text-white dark:focus:ring-sky-500 dark:focus:border-sky-500"
              required
            />
          </div>
        </div>

        <button
          type="submit"
          class="edit-save-btn text-white bg-sky-700 hover:bg-sky-800 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-sky-600 dark:hover:bg-sky-700 dark:focus:ring-sky-800"
        >
          Save
        </button>
      </div>
    </form>
    <form class="max-w-lg mt-6">
      <div class="flex flex-col">
        <div class="mb-4">
          <label
            for="deletion-comments-<%=item.id%>"
            class="block mb-2 text-lg font-medium text-gray-900 dark:text-gray-300 text-left"
            >Delete the item? </label
          >
          <textarea
            id="deletion-comments-<%=item.id%>"
            rows="2"
            placeholder="Write your comments here"
            class="bg-gray-50 border text-gray-900 text-sm rounded-lg focus:ring-sky-500 focus:border-sky-500 block w-full p-2.5 dark:placeholder-gray-400 dark:text-white dark:focus:ring-sky-500 dark:focus:border-sky-500"
          ></textarea
          >
        </div>
        <button
          type="submit"
          class="edit-delete-btn text-white bg-rose-700 hover:bg-rose-800 focus:ring-4 focus:outline-none focus:ring-rose-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-rose-600 dark:hover:bg-rose-700 dark:focus:ring-rose-800"
        >
          Delete
        </button>
      </div>
    </form>
  </div>
</div>
