<div class="modal">
  <div class="modal-box relative">
    <label
      for="<%=item.id%>"
      class="btn btn-sm btn-circle absolute right-2 top-2"
      >✕</label
    >
    <h3 class="text-lg font-bold mb-4 text-left">Edit inventory item</h3>
    <form class="max-w-lg">
      <div class="flex flex-col">
        <div class="mb-4">
          <label
            for="item-name"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300 text-left"
            >Item name *</label
          >
          <input
            type="input"
            id="item-name"
            class="w-48 bg-gray-50 border text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            required
            value="<%= item.name %>"
          />
        </div>
        <div class="mb-4">
          <label
            for="description"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300 text-left"
            >Description</label
          >
          <textarea
            id="description"
            rows="3"
            class="bg-gray-50 border text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          >
<%= item.description %></textarea
          >
        </div>
        <div class="mb-4">
          <label
            for="type"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300 text-left"
            >Type *</label
          >
          <input
            type="input"
            id="type"
            value="<%= item.type %>"
            class="w-48 bg-gray-50 border text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            required
          />
        </div>
      </div>
      <div class="flex flex-col">
        <div class="flex flex-wrap justify-between items-end">
          <div class="mb-4 w-24">
            <label
              for="warehouses"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400 text-left"
              >Select warehouse *</label
            >
            <select
              id="warehouses"
              required
              class="bg-gray-50 border text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            >
              <% warehouses.forEach( w =>{ %>
              <option <%= item.warehouse ===w ? "selected" : "" %> ><%= w %></option>
              <% }) %>
            </select>
          </div>
          <div class="mb-4 w-24 mx-1">
            <label
              for="type"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300 text-left"
              >Price</label
            >
            <input
              type="number"
              value="<%= item.money.price %>"
              id="price"
              min="0"
              step="0.01"
              class="bg-gray-50 border text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              required
            />
          </div>
          <div class="mb-4 w-24 mx-1">
            <label
              for="currencies"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400 text-left"
              >Select currency</label
            >
            <select
              id="currencies"
              required
              class="bg-gray-50 border text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            >
              <% currencies.forEach( c => { %>
              <option <%= item.money.currency === c ? "selected" : "" %> >
                <%= c %>
              </option>
              <% }) %>
            </select>
          </div>
          <div class="mb-4 w-24">
            <label
              for="amount"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300 text-left"
              >Number of items *</label
            >
            <input
              type="number"
              value="<%= item.inStock %>"
              id="amount"
              min="0"
              class="bg-gray-50 border text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              required
            />
          </div>
        </div>

        <button
          type="submit"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Save
        </button>
      </div>
    </form>
  </div>
</div>
